@import "tailwindcss";

@theme {
  --color-brand-red: #E50914;
  --color-brand-black: #0A0A0A;
  --color-brand-white: #F5F5F5;
  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-syne), sans-serif;
  
  /* Infinite Marquee Animation */
  --animate-marquee: marquee 30s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); } /* Scrolls half the duplicated width */
  }
}

@layer base {
  body {
    background-color: var(--color-brand-black);
    color: var(--color-brand-white);
    @apply antialiased selection:bg-brand-red selection:text-white;
    overflow-x: hidden;
  }
}